snippet var
	${1:var}=${2:val};
snippet rotate
	rotate([${1:x},${2:y},${3:z}])
snippet scale
	scale([${1:x},${2:y},${3:z}])
snippet translate
	translate([${1:x},${2:y},${3:z}])
snippet cube
	cube([${1:x},${2:y},${3:z}]);
snippet cylinder
	cylinder(${1:h},${2:r1});
snippet difference
	difference(){
		$1
	};
snippet union
	union(){
		$1
	};
snippet intersection
	intersection(){
		$1
	};
